localhost, *.localhost {
    reverse_proxy http://localhost:8000 {
        header_up Host localhost
        # Send the requested domain as a header just in case we need it.
        # Caddy will set all the correct X-Forwarded headers, so we
        # can configure the trusted proxies to the caddy IP.
        header_up CustomerHost {host}

        # It shouldn't take this long to handle the request.
        health_timeout 5s
    }
}
